.input {
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    margin-bottom: 5px;
    width: 300px;
}

button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    border: 0;
    font-size: 13px;
    padding: 5px 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.save {
    background: #0065bd;
}

.delete {
    background: #bd0000;
}

.feedback {
    background: #b6b6b6;
}
